<h1>Players</h1>

<% @players.each do |player| %>
  <h2><%= "#{player[:first_name]} #{player[:last_name]}" %></h2>
  <ul>
    <li>Age: <%= player[:age] %></li>
    <li>Height: <%= player[:height] %></li>
    <li>Weight: <%= player[:weight] %></li>
    <li>Postion: <%= player[:position] %></li>
    <li>Foot: <%= player[:foot] %></li>
  </ul>
<% end %>