<% if @search_str %>


    <% if @movies.length == 1 %>
      <% @movie = @movies.first %>
      
      

    <% elsif @movies.length > 1 %>

        <% @movies.each do |movie| %>
          <div class="media">
            <div class="media-left">
              <a href="/movie/<%= movie["imdbID"] %>">
                <img class="media-object" src="<%= movie["Poster"] %>" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= movie["Title"] %> (<%= movie["Runtime"] %>)</h4>
              <%= movie["Plot"] %>
            </div>
          </div>
        <% end %>

    <% end %>

    <center><h6>Results Found: <%= @movies.length %></h6></center>
<% end %>