<div class="media">
  <div class="media-left">
      <img class="media-object" src="<%= @movie["Poster"] %>" alt="...">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= @movie["Title"] %> (<%= @movie["Runtime"] %>)</h4>
    <h5>Rated  <%= @movie["imdbRating"] %> (IMDb)</h5>
    <i><%= @movie["Genre"] %></i>
    <p><%= @movie["Plot"] %><p>

    <h4>Actors</h4>
    <p><%= @movie["Actors"] %></p>

    <h4>Awards</h4>
    <p><%= @movie["Awards"] %></p>

    <h4></h4>
  </div>
</div>