

<%
  # If there is no poster, replace with a defaut image
  if @movie.poster == "N/A"
    @movie.poster = "../images/film-roll.png"
  end
%>


<div class="poster">
  <img src="<%= @movie.poster %>">
</div>

 <div class="content"> 
  <div class="film-info">
    <div class="film-title">
      <span class="title"><%= @movie.title %></span> (<%= @movie.year %>)
    </div>
    
    <div class="details">
      <ul>
        <li><%= @movie.rated %></li>
        <li><%= @movie.runtime %></li>
        <li><%= @movie.genre %></li>
        <li><%= @movie.released %></li>
      </ul>
    </div>

    <div class="plot"><%= @movie.plot %></div>
    <p><strong>Director:</strong> <%= @movie.director %></p>
    <p><strong>Stars:</strong> <%= @movie.actors %></p>
  </div>
</div>