



<%
  @title = @film_data["Title"]
  @year = @film_data["Year"]
  @rated = @film_data["Rated"]
  @released = @film_data["Released"]
  @runtime = @film_data["Runtime"]
  @genre = @film_data["Genre"]
  @director = @film_data["Director"]
  @actors = @film_data["Actors"]
  @plot = @film_data["Plot"]
  @poster = @film_data["Poster"]
%>


<div class="movie-wrapper">
  <div class="poster">
    <img src="<%= @poster %>">
  </div>
  <div class="info">
    <p><%= @title %></p>
    <p><%= @year %></p>
    <p><%= @rated %></p>
    <p><%= @released %></p>
    <p><%= @runtime %></p>
    <p><%= @genre %></p>
    <p><%= @director %></p>
    <p><%= @actors %></p>
    <p><%= @plot %></p>
  </div>
</div>