
<div class="top">
  <h1>M.F.M</h1>
  <p>Motherfucking Movies</p>
  <form action="/movies">
    <input type="text" name="title" id="title" placeholder="Enter a movie title" autofocus>
    <button>get that mfm</button>
  </form>
</div>
<div class="title">
  <% if @title %> 
    <% if @movie_data["Response"] == "False" %>
      <p class= "italic">That's not even a real movie. Try something else.</p>
    <% else %> 
      <h2><%= @pretty_title %></h2>  
      <p>(<%= @year %>)</p>
    <% end %>
    </div>
    <div class="top">
      <div class="box">
        <% if @poster == "N/A"%>
          <p class = "italic">Sorry, there is no poster available for this movie</p>
          <p>Search <a href="https://www.google.nl/search?tbm=isch&q=<%= @title%>">Google Images for </a> <%=@pretty_title%>'s movie poster.</p>
        <% else %>
          <img src=<%= @poster%>/>
        <% end %>
      </div>
      <div class="box">
        <p><strong>Category:</strong> <%= @type %></p>
        <p><strong>Genre:</strong> <%= @genre %></p>
        <p><strong>Director:</strong> <%= @director %></p>
        <p><strong>Plot:</strong> <span class="italic"><%= @plot %></span></p>
        <p><strong>Cast:</strong> <%= @cast %></p>
        <p><strong>Metascore:</strong> <%= @metascore %></p>

        <p><strong>Awards:</strong> <%= @awards %></p>

    <% end %>
  </div>
</div>

