
<div class="wrapper">
  <div class="search">
    <h1>M.F.M</h1>
    <p>Motherfucking Movies</p>
    <form action="/movies">
      <input type="text" name="title" id="title" placeholder="Enter a movie title" autofocus>
      <button>get that mfm</button>
    </form>
  </div>
</div>
<div class="container">


  <% if @movie_data.length == 1 %>
    <div class="box">

    <% if @movie_data[0]['Poster'] == "N/A"%>
      <p class = "italic">Sorry, there is no poster available for this movie</p>
      <p>Search <a href="https://www.google.nl/search?tbm=isch&q=<%= @movie_data[0]["Title"]%>">Google Images for </a><%=@movie_data[0]["Title"]%></p>
    <% else %>
      <img src="<%=@movie_data[0]["Poster"]%>">
    <% end %>
    </div>
    <div class="box">

      <% @movie_data.each do |movie| %>
          <div class="title">
            <h2><%=movie["Title"] %></h2>
            <h3>(<%=movie["Year"] %>)</h3>
            <hr>
          <p><strong>Category:</strong> <%= movie["Type"] %></p>
          <p><strong>Genre:</strong> <%= movie["Genre"] %></p>
          <p><strong>Director:</strong> <%= movie["Director"] %></p>
          <p><strong>Plot:</strong> <span class="italic"><%= movie["Plot"]%></span></p>
          <p><strong>Cast:</strong> <%= movie["Actors"] %></p>
          <p><strong>Metascore:</strong> <%= movie["Metascore"]%></p>
          <p><strong>Awards:</strong> <%= movie["Awards"] %></p>
        </div>
      <% end %>
    <% elsif @movie_data.length > 1 %>
    <% @movie_data.each do |movie| %>
      <p><a href="/movies?i=<%= movie['imdbID'] %>"><%= movie["Title"] %></a></p>
    <% end %>  
  <% elsif @url %>
    <br>
    <h1>That's not even a real movie, dickhead.<br> Try something else.</h1>


  <% end %>
</div>


