<%= form_for @book do |f| %>
 <p>
   <%= f.label :title %>
   <%= f.text_field :title %>
 </p>
 <p>
   <%= f.label :isdn %>
   <%= f.text_field :isdn %>
 </p>
 <p>
   <%= f.label :publication, "Date of Publication" %>
   <%= f.text_field :publication %>
 </p>
 <p>
   <%= f.label :genre %>
   <%= f.text_field :genre %>
 </p>
 <p>
   <%= f.label :image %>
   <%= f.url_field :image %>
 </p>

 <p>
    <%= f.label :author_id %>
    <%= f.select :author_id, Author.all.map { |author| [author.name, author.id] }, :include_blank => true %>
 </p>

   <%= f.submit %>
 
<% end %>