<%= form_for @book do |b| %>
  <p>
    <%= b.label :title %>
    <%= b.text_field :title %>
  </p>
  <p>
    <%= b.label :genre %>
    <%= b.text_field :genre %>
  </p>
  <p>
    <%= b.label :year %>
    <%= b.text_field :year %>
  </p>
  <p>
    <%= b.label :cover %>
    <%= b.url_field :cover %>
  </p>
  <p>
    <%= b.label :author_id %>
    <%= b.select :author_id, Author.all.map { |author| [author.name, author.id]}, :include_blank => true %>
  </p>

  <%= b.submit %>
<% end %>