<%= form_for @book do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
</p>

<p>
  <%= f.label :release_date %>
  <%= f.text_field :release_date %>
</p>

<p>
  <%= f.label :blurb %>
  <%= f.text_field :blurb %>
</p>

<p>
  <%= f.label :image %>
  <%= f.url_field :image %>
</p>

  <p>
    <%= f.label :author_id %>
    <%= f.select :author_id, Author.all.map { |author| [author.name, author.id]}, :include_blank => true %>
  </p>

<%= f.submit %>

<% end %>