<form action="/gods/<%= @god.id %>" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="god[name]" value="<%= @god.name %>">
  <label for="image">Image:</label>
  <input type="url" id="image" name="god[image]" value="<%= @god.image %>">
  <label for="description">Description:</label>
  <input type="text" id="description" name="god[description]" value="<%= @god.description %>">
  <label for="faction">Alignment:</label>
  <select id="faction" name="god[faction]" value="<%= @god.faction %>">
    <option value="None">None</option>
    <option value="Olympian" <% if @god.faction == "Olympian" %>Selected<% end %>>Olympian</option>
    <option value="Titans" <% if @god.faction == "Titans" %>Selected<% end %>>Titans</option>
    <option value="Oceanic" <% if @god.faction == "Oceanic" %>Selected<% end %>>Oceanic</option>
  </select>
  <label for="symbol">Symbol:</label>
  <input type="text" id="symbol" name="god[symbol]" value="<%= @god.symbol %>">
  <label for="children">Children:</label>
  <input type="text" id="children" name="god[children]" value="<%= @god.children %>">
  <br>
  <button>Update God</button>
</form>